@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --indigo: #4b0082;
  --Lilac: #c8a2c8;
}

* {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

*::selection {
  background-color: var(--indigo);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: #333;
  height: 3000px;
}

header {
  width: 96%;
  background: #fff;
  position: fixed;
  top: 2rem;
  left: 50%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  transform: translateX(-50%);
  border-radius: 5rem;
  z-index: 1000;
  padding: 0.5rem 1.5rem;
  transition: 0.2s;
}

.header-active {
  top: 0;
  width: 100%;
  border-radius: 0;
  box-shadow: 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}

header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

header .navbar ul li {
  margin: 0 1rem;
}

header .navbar ul li a {
  font-size: 1.6rem;
  color: var(--indigo);
  translate: 0.2s;
}

header .navbar ul li .active,
header .navbar ul li a:hover {
  color: var(--Lilac);
}

header .logo {
  font-size: 2rem;
  color: var(--indigo);
  text-transform: uppercase;
}

header .logo i {
  padding: 0 0.2rem;
  color: var(--indigo);
}

header .fa-bars {
  font-size: 2.5rem;
  color: var(--indigo);
  display: none;
  cursor: pointer;
  transition: 0.2s;
}

header .fa-times {
  transform: rotate(180deg);
  color: var(--indigo);
  transition: 0.2s;
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  header .fa-bars {
    display: block;
  }
  header .navbar {
    position: fixed;
    top: -100rem;
    left: 0%;
    width: 100%;
    background: #fff;
    border-radius: 1rem;
    opacity: 0;
    translate: 0.2s;
  }
  header .navbar ul {
    flex-flow: column;
    padding: 2rem 0;
  }
  header .navbar ul li {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }
  header .navbar ul li a {
    font-size: 2rem;
    display: block;
  }
  header .nav-toggle {
    top: 4rem;
    opacity: 1;
  }
}

.home {
  min-height: 100vh;
  background: linear-gradient(rgba(198, 59, 250, 0.7), rgba(198, 59, 250, 0.7)),
    url(./images/accessories-composition.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
  overflow: hidden;
  position: relative;
}

.home .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding-top: 14rem;
  padding-bottom: 8rem;
  text-align: center;
}
.home .content h1 {
  font-size: 5rem;
  color: #fff;
  padding: 0 1rem;
  text-shadow: 0 0.3rem 0.5rem rgba((0), 0, 0, 0.3);
  text-transform: uppercase;
}

.home .content p {
  font-size: 2rem;
  color: #eee;
  padding: 1rem 25rem;
}

.home .content button {
  height: 6rem;
  width: 20rem;
  border-radius: 5rem;
  background: var(--indigo);
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.2s;
  border: none;
  box-shadow: 0 0.3rem 1rem rgba((0), 0, 0, 0.3);
}

.home .content button:hover {
  letter-spacing: 0.2rem;
}

.home .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.home .box-container .box {
  height: 20rem;
  width: 25rem;
  background: #fff;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  margin: 2rem;
  cursor: pointer;
}
